
<ion-view title="Debug" id="debugView" >
  <ion-content has-header="true" has-tabs="true" padding="true">
	<div class="list">
 

    <div class="item item-checkbox">
      <label class="checkbox checkbox-balanced">
        <input type="checkbox" ng-model="debugModel.mock" ng-click="changeMockMode()">
      </label>
        Mock Mode
      </div>

      <div class="item item-button-right">
        New Poll (Demo)
        <button class="button button-balanced" ng-click="showNewPollMessage()">
          <i class="icon ion-ios7-photos-outline">
          </i>
        </button>
      </div>

      <div class="item item-button-right">
         Poll Ended With results (Demo)
        <button class="button button-balanced" ng-click="showPollEndedMessage()">
          <i class="icon ion-ios7-photos-outline">
          </i>
        </button>
      </div>
      
      <div class="item item-button-right">
        Get Location
        <button class="button button-balanced" ng-click="getLocation()">
          <i class="icon ion-ios7-location-outline">
          </i>
        </button>
        <div class="row">
          <div class="col col-40">
            Latitude
          </div>
          <div class="col">
            {{debugModel.geoPosition.Latitude}}
          </div>
        </div>
        <div class="row">
          <div class="col col-40">
            Longitude
          </div>
          <div class="col">
            {{debugModel.geoPosition.Longitude}}
          </div>
        </div>
      </div>
      
    <div class="item item-button-right">
         Start
        <button class="button button-balanced" ng-click="start()">
          <i class="icon ion-ios7-photos-outline">
          </i>
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>