<!-- 
This template gets placed in the Pet tab's <ion-nav-view> directive.
It was wired up in the app config (app.js) 
The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="VoteIt !">
<ion-content has-header="true" has-tabs="true">

<div class="list list-inset">
 <div class="item item-divider">
  Question
</div>
<label class="item item-input">
  <input type="text" placeholder="Enter poll question" ng-model="model.question">
</label>
</div>

<div class="list list-inset">
  <div class="item item-divider">
    Group:
  </div>
 <!--  <input list="browsers" name="browser">
  <datalist id="browsers" ng-model="model.group">
    <option value="WebRTC group">
    <option value="Mobility group">
    <option value="Att group">
  </datalist> -->
    <label class="item item-input">
      <input type="text" placeholder="Enter group name" ng-model="model.group">
    </label>
      </div>

    <div class="list list-inset">
     <div class="item item-divider">
      Choices
    </div>
    <label class="item item-input" ng-repeat="choice in model.choices track by $index">
      <input type="text" ng-model="choice" placeholder="Enter choice {{$index+1}} text">
    </label>
    <br>
    <button class="button icon ion-plus" ng-click="addChoice()" ng-show="allowToAddChoices"></button>
    <div class="range">
      <i class="ion-ios7-location-outline"></i>&nbsp;5m
      <input type="range" name="volume" min="5" max="1000" value="33" ng-model="model.radius">
      1km
    </div>

    <div class="row">
      <div class="col"><form action="demo_form.asp">
        Select a time: 
        <input id="timerange" type="time" name="usr_time">
      </form></div>
      <div class="col">
        <button class="button button-assertive" ng-click="createPoll()">Create Poll &raquo;</button>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
