<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{pollName}}"  >
<ion-content has-header="true" has-tabs="true" padding="true">

<div class="card">
	<div class="item item-divider">
		Where where where wherejkdshfakjsdhfkasdhfkjl?
	</div>
	<div class="item item-text-wrap">
		<div class="list">

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					#1fsjdgkfhslgjkhfkgjdhgjshdflgk
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Go
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					No!
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>


			<div>
				<button class="button button-outline button-dark ion-ios7-plus-empty"></button>
			</div>

		</div>




	</div>
	<div class="item item-divider">
		<i class="ion-ios7-timer">00:05</i>
	</div>
</div>


<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<i class="icon ion-stop">Op1</i>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<i class="icon ion-stop">Op2</i>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<i class="icon ion-stop">Op3</i>
			</div>
		</div>

	</div>
	<div class="col col-80">
		<chartjs width="MyChart.width" height="MyChart.height" data="MyChart.data"  options="MyChart.options"   is-type="Doughnut"></chartjs>
	</div>
</div>







</ion-content>
</ion-view>