<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="{{groupName}}">
  <ion-content has-header="true" padding="true">
    
  <div class="list">
    <div class="item item-divider" ng-show="pollInGroupModel.active.length>0">
      Active Polls
    </div>
    <a class="item" href="#/tab/poll-votes/{{poll._id}}" ng-repeat="poll in pollInGroupModel.active">
      {{poll.question}}
       <span class="badge badge-assertive">{{poll.totalVotes}}</span>
    </a>

    <div class="item item-divider" ng-show="pollInGroupModel.ended.length>0">
      Ended Polls
    </div>
    <a class="item" href="#/tab/poll-votes/{{poll._id}}" ng-repeat="poll in pollInGroupModel.ended">
      {{poll.question}}
       <span class="badge badge-assertive">{{poll.totalVotes}}</span>
    </a>

  </div>

  </ion-content>
</ion-view>
