
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- votit Tab -->
  <ion-tab title="groups" icon="ion-ios7-people-outline" href="#/tab/groups">
    <ion-nav-view name="groups-tab"></ion-nav-view>
  </ion-tab>


  <!-- pollit Tab -->
  <ion-tab title="new-poll" icon="ion-ios7-upload-outline" href="#/tab/new-poll">
    <ion-nav-view name="new-poll-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Settings" icon="icon ion-ios7-gear-outline" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Info" icon="icon ion-ios7-information-outline" href="#/tab/debug">
    <ion-nav-view name="debug-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
