/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

/* overide inoic css */
.item-icon-left .icon {
	left: 3.5px;
	font-size: 25px;
}