/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

/* overide inoic css */
.item-icon-left .icon {
	left: 3.5px;
	font-size: 25px;
}

@font-face {
    font-family: 'news_cycleregular';
    src: url('fonts/newscycle-regular-webfont.eot');
    src: url('fonts/newscycle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/newscycle-regular-webfont.woff') format('woff'),
         url('fonts/newscycle-regular-webfont.ttf') format('truetype'),
         url('fonts/newscycle-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

input, button, select, textarea, body, h1 {
	font-family: "news_cycleregular";
}

#timerange {
	border: 1px solid #000;
	width: 80px;
}

#newPoll .ion-location {
  font-size: 30px;
  padding: 11px 0 0 20px;
  color: orange;
}

#newPoll .ion-clock {
  font-size: 30px;
  padding: 0 0 0 18px;
  color: green;
}

#debugView .button {
  width: 45px;
  text-align: center;
}

#debugView .button i {
  margin: 0 auto;
}
